@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'vue-sidebar-menu';
@import 'vue-sidebar-menu/dist/vue-sidebar-menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:focus, *:hover {
  outline: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #c5baba;
}

.section-title {
  height: 50px;
  padding: 0 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }
}

.section-content {
  padding: 20px;
}

.table th, .table td {
  vertical-align: middle !important;
}
