
.v-sidebar-menu {
  background-color: #2e5586 !important;
  color: #2e5586;
  
  &.vsm_expanded .vsm--title{
    color: #ece9e9 !important;
  }

  .vsm--icon {
    background-color: transparent !important;
  }

  .vsm--mobile-bg {
    background-color: #bdbdbd !important;
  }

  .vsm--dropdown>.vsm--list {
    background-color: #445c79 !important;
    width: 300px;
  }

  .vsm--link {
    color: #2e5586 !important;
    &.vsm--link_active {
      box-shadow: 3px 0px 0px 0px #0e1e3b inset !important;
    }
  }

  .vsm--toggle-btn img {
    height: 25px;
  }
}
